html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  margin: auto;
  display: block;
  height: max-content;
  width: max-content;
}

#frame {
  pointer-events: none;
  border: 0px rgb(255, 240, 243) double;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  left: 0px;
  overflow: clip;
}